# Dependencies
node_modules/

# Build
dist/

# Env
.env
.env.local

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# App specific
clips/
test-results/

# test fixtures
test/fixtures/
